.navbar{
    height:100px;
    margin: 0 0 45px;
    padding:0 0 21px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
    background-color: white;
    width:  100%;
}

.navbar-item{

  width: 410px;
  height: 30px; 
  margin: 18.5px 0 7.2px 604px;
  font-family: ProximaNova;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #004b95;
}
.navbar-brand{
    width: 135px;
    height: 56px;
    margin: 22px 604px 0 26px;
    background-color: rgba(0, 0, 0, 0);

}
/* .text{
	margin-left: 400px;
	margin-right: 400px;
	
} */

.cardss{
	margin-left: 400px;
	margin-right: 400px;

}
.row{
	width:  100%;
}



.landing_page {
    width: 100%;
    margin: 3px 0 0;
    background-color: darkblue;
    width:  100%;
  
  }


